@charset "utf-8";

/*bottom*/
.bottom_wrap{width: 100%; height: 330px; min-width: 1100px; border-top: 1px solid #000; padding-left: 30px; padding: 0 30px;}
.bottom{width: 100%; height: 290px; min-width: 1100px; margin-top: 40px;}

.bottom_left{width: 200px; height: 253px; float: left;}
.bottom_gnb{line-height: 35px;}

.bottom_center_right{float: right;}
.bottom_center{width: 400px; height: 290px; float: left;}
.call{margin-bottom: 30px;}
.call p{ display: block; font-size: 12px; font-weight: bold; line-height: 25px; text-decoration: underline; margin-bottom: 10px;}
.call span{font-size: 30px;}
.bottom_center dl{font-size: 12px; color: #808080;}
.bottom_center dt{float: left; width: 100px;}
.bottom_center h5{font-weight: normal; font-size: 12px;}

.bottom_right{width: 362px; height: 299px; font-size: 12px; margin-left: 80px; float: left;}
.bottom_right h3{font-weight: normal; margin-bottom: 10px;}
.bottom_right p{margin-bottom: 10px; color: #808080;}
.bottom_right h2{font-weight: normal;}
.bottom_right div{margin:10px 0;}
.bottom_right dl{color: #808080;}
.bottom_right dt{width: 80px; float: left;}
.footer{clear: both; width: 100%; border-top: 1px solid #eaeaea; padding:30px 0px 50px; color: #b2b2b2; font-size: 12px;}

/*button*/
.button{position: fixed; bottom: 20px; right: -100px; z-index: 20;}