@charset "utf-8";
@import url("00_common.css");
@import url("00_gnb.css");
@import url("00_top.css");
@import url("00_bottom.css");

.slide_wrap{width: 100%; height: 360px; margin-bottom: 5px; position: relative; overflow: hidden;}
.slide_wrap > a > div{visibility: hidden}
.slide_wrap > a > div.selected{visibility: visible}

/*slide*/
.slide{width: 100%; height: 360px; position: absolute; left: 0; top: 0;}
.slide>img{width: 1000px; height: 360px; margin-left: -1000px; float: right; } /*margin left 마이너스로*/
.bluebox{width: 80%; height: 360px; float: left; background-color: #9CDAF1;}
.yellowbox{width: 80%; height: 360px; float: left; background-color: #FFF8D3;}
.greenbox{width: 80%; height: 360px; float: left; background-color: #20e5ba;}
.orangebox{width: 80%; height: 360px; float: left; background-color: #ffdea9;}
.slide_txt{position: absolute; top: 100px; left: 70px;}
.slide_txt h3{font-size: 35px; line-height: 45px; font-weight: normal;}
.slide_txt p{margin-top: 10px; line-height: 20px; font-size: 12px;}
.slide_txt img{margin-top: 20px;}

/*slide button*/
.slide_button{width: 200px; height: 40px; margin-left: 30px;}
.slide_circle{width: 120px; height: 40px; float: left;}
.slide_circle div{width: 20px; height: 20px; float: left; margin: 8px 5px; border-radius: 20px; background-color: #eaeaea;}
.left_button{float: left;}
.left_button:hover{cursor: pointer;}
.right_button{float: left;}
.right_button:hover{cursor: pointer;}
.slide_circle div.selected{background-color: #3bded4;}

/*item*/
.contents{width: 100%; overflow: auto; margin-top: 40px; padding-left: 10px; padding-right: 30px;} /*overflow:auto하면 자동으로 높이잡힘*/ /*화면사이즈 반환해야되나*/
.item{width: 25%; float: left; margin-bottom: 60px; padding-left: 20px;}
.scale{width: 100%; height: ; overflow: hidden;}
.item img{width: 100%; transition: all 0.4s ease-in-out;}
.item img:hover{transform: scale(1.1);}
.item p strong{width: 100%; height: 55px; display: block; font-size: 16px; color: #222; line-height: 25px; margin-top: 15px;}
.item p span{display: block; font-weight: normal; color: #222; line-height: 22px;}

@media screen and (max-width:1300px) {
    .item:nth-child(4n){display: none;}    
    .item{width: 33%;}
}

/*banner*/
.banner_wrap{width: 100%; margin: 20px 0; background-color: #E6E3DE; position: relative;}
.banner{width: 1120px; margin: 0 auto; display: block;}

/*hotdeal*/
.hotdeal{width: 100%; height: auto; padding: 0 30px; margin-top: 50px; margin-bottom: 60px; overflow: auto;}
.hotdeal h3{width: 90px; height: 80px; line-height: 80px; font-size: 42px; position: relative; font-weight: normal;}
.new{position: absolute; top: 0px; right: -10px; width: 40%;}
.hotdeal_item{float: left; width: 20%; padding-right: 20px;}
.hotdeal_item:nth-child(6){padding-right: 0px;}
.hotdeal_item img{width: 100%;}
.hotdeal_item p strong{display: block; font-size: 20px; margin-bottom: 5px;}

@media screen and (max-width:1300px) {
    .hotdeal_item:nth-child(6){display: none;}   
    .hotdeal_item{width: 25%;}
}