@charset "utf-8";
@import url("00_common.css");
@import url("00_gnb.css");
@import url("00_top.css");
@import url("00_bottom.css");

/*slide*/
.slide{width: 100%; height: 360px; position: relative;}
.slide li{width: 100%; height: 360px; display: inline-block;}
.slick-arrow{position: absolute; bottom:-40px; float: left; cursor: pointer; border: none;}
.slick-prev{left: 30px; width: 30px; height: 30px; background: url("../images/common/leftbutton2.png") no-repeat center;}
.slick-next{left: 195px; width: 30px; height: 30px; background: url("../images/common/rightbutton2.png") no-repeat center;}
.slick-dots{position: absolute; left: 65px; bottom: -35px;}
.slick-dots li{display: inline-block; float: left; width: 20px; height: 20px; margin-left: 10px;}
.slick-dots li button{ border: none; border-radius: 20px; cursor: pointer; text-indent: -9999px;}
.slick-active button{background-color: #3dbed4;}

/*slide_img*/
.slide_wrap{width: 100%; height: 390px; margin-bottom: 5px; position: relative;}
.slide_img{width: 100%; height: 360px;}
.slide_img>img{width: 1000px; height: 360px; margin-left: -1000px; float: right; } /*margin left 마이너스로*/
.bluebox{width: 80%; height: 360px; float: left; background-color: #9CDAF1;}
.yellowbox{width: 80%; height: 360px; float: left; background-color: #FFF8D3;}
.greenbox{width: 80%; height: 360px; float: left; background-color: #20e5ba;}
.orangebox{width: 80%; height: 360px; float: left; background-color: #ffdea9;}
.slide_txt{position: absolute; top: 100px; left: 70px;}
.slide_txt h3{font-size: 35px; line-height: 45px; font-weight: normal;}
.slide_txt p{margin-top: 10px; line-height: 20px; font-size: 12px;}
.slide_txt img{margin-top: 20px;}

/*item*/
.contents{width: 100%; overflow: auto; margin-top: 40px; padding-left: 10px; padding-right: 30px;} /*overflow:auto하면 자동으로 높이잡힘*/ /*화면사이즈 반환해야되나*/
.item{width: 25%; float: left; margin-bottom: 60px; padding-left: 20px;}
.scale{width: 100%; height: ; overflow: hidden;}
.item img{width: 100%; transition: all 0.4s ease-in-out;}
.item img:hover{transform: scale(1.1);}
.item p strong{width: 100%; height: 55px; display: block; font-size: 16px; color: #222; line-height: 25px; margin-top: 15px;}
.item p span{display: block; font-weight: normal; color: #222; line-height: 22px;}

@media screen and (max-width:1300px) {
    .item:nth-child(4n){display: none;}    
    .item{width: 33%;}
}

/*banner*/
.banner_wrap{width: 100%; margin: 20px 0; background-color: #E6E3DE; position: relative;}
.banner{width: 1120px; margin: 0 auto; display: block;}

/*hotdeal*/
.hotdeal{width: 100%; height: auto; padding: 0 30px; margin-top: 50px; margin-bottom: 60px; overflow: auto;}
.hotdeal h3{width: 90px; height: 80px; line-height: 80px; font-size: 42px; position: relative; font-weight: normal;}
.new{position: absolute; top: 0px; right: -10px; width: 40%;}
.hotdeal_item{float: left; width: 20%; padding-right: 20px;}
.hotdeal_item:nth-child(6){padding-right: 0px;}
.hotdeal_item img{width: 100%;}
.hotdeal_item p strong{display: block; font-size: 20px; margin-bottom: 5px;}

@media screen and (max-width:1300px) {
    .hotdeal_item:nth-child(6){display: none;}   
    .hotdeal_item{width: 25%;}
}