@charset "utf-8";
@import url("00_common.css");
@import url("00_gnb.css");
@import url("00_top.css");
@import url("00_bottom.css");

/*slide*/
.swiper{width: 100%px; height: 400px; overflow: hidden; position: relative; margin-bottom: 5px;}
.swiper-wrapper{width: 100%; height: 360px; position:relative;}
.swiper-slide{width: 100%; height: 360px; display: inline-block; position: relative;}
.swiper-button-prev{top: 90%; left: 30px;width: 38px; height: 38px; background: url("../images/common/banner_left.png") no-repeat; border: 1px solid #eee; border-right: none;}
.swiper-button-next{top: 90%; left: 106px; width: 38px; height: 38px; background: url("../images/common/banner_right.png") no-repeat; border: 1px solid #eee; border-left: none; border-right: none;}
.swiper-pagination{top: 338px; left: 68px; width: 38px; height: 38px; background-color: #fff; border: 1px solid #eee; border-left: none; border-right: none; line-height: 36px; font-size: 12px; padding-left: 3px;}
.swiper-button-play, .swiper-button-pause{position: absolute; z-index: 10; top: 338px; left: 144px; width: 38px; height: 38px; border: 1px solid #eee; border-left: none; cursor: pointer;}
.swiper-button-play{background: url("../images/common/playbutton.png") no-repeat;}
.swiper-button-pause{background: url("../images/common/pausebutton.png") no-repeat; display: none;}

/*slide_img*/
.slide_img{width: 100%; height: 360px;}
.slide_img>img{width: 1000px; height: 360px; margin-left: -1000px; float: right; transition: all 0.6s; position: relative; left: 40px;} /*margin left 마이너스로*/
.bluebox{width: 80%; height: 360px; float: left; background-color: #9CDAF1;}
.yellowbox{width: 80%; height: 360px; float: left; background-color: #FFF8D3;}
.greenbox{width: 80%; height: 360px; float: left; background-color: #20e5ba;}
.orangebox{width: 80%; height: 360px; float: left; background-color: #ffdea9;}
.slide_txt{position: absolute; top: 100px; left: 70px;}
.slide_txt h3{font-size: 35px; line-height: 45px; font-weight: normal;}
.slide_txt p{margin-top: 10px; line-height: 20px; font-size: 12px;}
.slide_txt img{margin-top: 20px;}

.swiper .swiper-slide-active .slide_img>img{left: 0px; opacity:1}


/*슬라이드 텍스트 애니메이션*/
/*
.slick-active .splitting .char{
    display: inline-block;
    animation: slide-up 1s cubic-bezier(.5, 0, .5, 1) both;    
    animation-delay: calc(60ms * var(--char-index));
}
@keyframes slide-up{
    0%{transform: translateY(30px); opacity: 0;}
    80%{transform: translateY(30px); opacity: 0;}
}
*/

/*슬라이드 이미지 애니메이션*/
.slick-active .slide_img>img{
    display: inline-block;
    animation: slide-up2 0.5s cubic-bezier(.5, 0, .5, 1) both;
    /*fill-mode:both; 는 시작전에 스타일 적용 + 마지막 키프레임 유지 */
    /*animation-delay: calc(60ms * var(--char-index)); *//*splitting*/
    /*calc는 css에서 사용되는 수식 계산해주는 함수*/
}
@keyframes slide-up2{
    0%{transform: translateX(30px); opacity: 0;}
    /*80%{transform: translateX(30px); opacity: 0;}*/
}


/*item*/
.contents{width: 100%; overflow: auto; margin-top: 40px; padding-left: 10px; padding-right: 30px;} /*overflow:auto하면 자동으로 높이잡힘*/ /*화면사이즈 반환해야되나*/
.item_first{width: 49%; float: left; margin-bottom: 60px; padding-left: 20px;}
.item_first img{width: 100%; transition: all 0.4s ease-in-out;}
.item_first img:hover{transform: scale(1.1);}
.item_first p strong{width: 100%; height: 55px; display: block; font-size: 16px; color: #222; line-height: 25px; margin-top: 15px;}
.item_first p span{display: block; font-weight: normal; color: #222; line-height: 22px;}

.item{width: 25%; float: left; margin-bottom: 60px; padding-left: 20px;}
.scale{width: 100%; overflow: hidden;}
.item img{width: 100%; transition: all 0.4s ease-in-out;}
.item img:hover{transform: scale(1.1);}
.item p strong{width: 100%; height: 55px; display: block; font-size: 16px; color: #222; line-height: 25px; margin-top: 15px;}
.item p span{display: block; font-weight: normal; color: #222; line-height: 22px;}

/*item2*/
.item2{width: 25%; float: left; margin-bottom: 60px; padding-left: 20px; position: relative;}
.item2 .b_item{height: 280px;}
.item2 .b_item img{width: 100%; transition: all 0.4s ease-in-out;}
.item2 .b_item img:hover{transform: scale(1.1);}
.item2 p.b_txt{position: absolute; width: 85%; top: 140px; background-color: #fff; }
.item2 p.b_txt strong{width: 100%; height: 55px; display: block; font-size: 16px; color: #222; line-height: 25px; margin-top: 15px;}
.item2 p.b_txt span{display: block; font-weight: normal; color: #222; line-height: 22px;}

.item2 .s_item{}
.item2 .s_item img{width: 100px; position: absolute;}
.item2 .s_item p.s_txt{padding-top: 5px; display: inline; padding-left: 110px;}
.item2 .s_item p.s_txt strong{font-weight: normal; font-size: 16px;}
.item2 .s_item p.s_txt span{color: #888; font-size: 12px;}

/*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/

/*모바일 먼저 만들고 키우면서 작업할꺼면 min-width*/
/*풀 스크린에서 줄이면서 작업할꺼면 max-width*/
@media screen and (max-width:1300px) {
    .item:nth-child(4n){display: none;}    
	.item:nth-child(7){display: none;}
	.item_first{width: 65%;}
	.item{width: 33%;}	
}

/*banner*/
.banner_wrap{width: 100%; margin: 20px 0; background-color: #E6E3DE; position: relative;}
.banner{width: 1120px; margin: 0 auto; display: block;}

/*hotdeal*/
.hotdeal{width: 100%; height: auto; padding: 0 30px; margin-top: 50px; margin-bottom: 60px; overflow: auto;}
.hotdeal h3{width: 90px; height: 80px; line-height: 80px; font-size: 42px; position: relative; font-weight: normal;}
.new{position: absolute; top: 0px; right: -10px; width: 40%;}
.hotdeal_item{float: left; width: 20%; padding-right: 20px;}
.hotdeal_item:nth-child(6){padding-right: 0px;}
.hotdeal_item img{width: 100%;}
.hotdeal_item p strong{display: block; font-size: 20px; margin-bottom: 5px;}

@media screen and (max-width:1300px) {
    .hotdeal_item:nth-child(6){display: none;}   
    .hotdeal_item{width: 25%;}
}